body {
  background: white;
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
}
body:active div,
body:active div::before,
body:active div::after {
  padding: 5px;
}

div,
div::before,
div::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.9;
  transform-origin: top;
  transition: all 1s linear 0s;
}

.purple {
  -webkit-animation: purple linear 230s alternate infinite;
  animation: purple linear 230s alternate infinite;
  border: 2px solid #dbd9d7;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  transform: translate3d(83vw, 73vh, 0);
  z-index: 8;
}

.purple::before {
  -webkit-animation: purple-pseudo linear 215s alternate infinite;
  animation: purple-pseudo linear 215s alternate infinite;
  background: #dbd9d7;
  border: 2px solid #dbd9d7;
  width: 20px;
  height: 11px;
  transform: translate3d(-36vw, -6vh, 0) rotate(150deg);
}

.purple::after {
  -webkit-animation: purple-pseudo linear 220s alternate infinite;
  animation: purple-pseudo linear 220s alternate infinite;
  border: 2px solid #dbd9d7;
  width: 20px;
  height: 18px;
  transform: translate3d(-37vw, -4vh, 0) rotate(14deg);
}

@-webkit-keyframes purple {
  50% {
    transform: translate3d(36vw, 97vh, 0);
  }
  100% {
    transform: translate3d(28vw, 98vh, 0);
  }
}

@keyframes purple {
  50% {
    transform: translate3d(36vw, 97vh, 0);
  }
  100% {
    transform: translate3d(28vw, 98vh, 0);
  }
}
@-webkit-keyframes purple-pseudo {
  33% {
    transform: translate3d(52vw, -33vh, 0) rotate(163deg);
  }
  100% {
    transform: translate3d(35vw, -52vh, 0) rotate(269deg);
  }
}
@keyframes purple-pseudo {
  33% {
    transform: translate3d(52vw, -33vh, 0) rotate(163deg);
  }
  100% {
    transform: translate3d(35vw, -52vh, 0) rotate(269deg);
  }
}
.medium-blue {
  -webkit-animation: medium-blue linear 230s alternate infinite;
  animation: medium-blue linear 230s alternate infinite;
  border: 2px solid #dbd9d7;
  border-radius: 100%;
  width: 27px;
  height: 27px;
  transform: translate3d(58vw, 23vh, 0);
  z-index: 12;
}

.medium-blue::before {
  -webkit-animation: medium-blue-pseudo linear 215s alternate infinite;
  animation: medium-blue-pseudo linear 215s alternate infinite;
  background: #dbd9d7;
  border: 2px solid #dbd9d7;
  width: 32px;
  height: 6px;
  transform: translate3d(-3vw, -18vh, 0) rotate(251deg);
}

.medium-blue::after {
  -webkit-animation: medium-blue-pseudo linear 220s alternate infinite;
  animation: medium-blue-pseudo linear 220s alternate infinite;
  border: 2px solid #dbd9d7;
  width: 14px;
  height: 46px;
  transform: translate3d(-37vw, 60vh, 0) rotate(104deg);
}

@-webkit-keyframes medium-blue {
  50% {
    transform: translate3d(38vw, 63vh, 0);
  }
  100% {
    transform: translate3d(72vw, 14vh, 0);
  }
}

@keyframes medium-blue {
  50% {
    transform: translate3d(38vw, 63vh, 0);
  }
  100% {
    transform: translate3d(72vw, 14vh, 0);
  }
}
@-webkit-keyframes medium-blue-pseudo {
  33% {
    transform: translate3d(12vw, -35vh, 0) rotate(324deg);
  }
  100% {
    transform: translate3d(-42vw, 82vh, 0) rotate(174deg);
  }
}
@keyframes medium-blue-pseudo {
  33% {
    transform: translate3d(12vw, -35vh, 0) rotate(324deg);
  }
  100% {
    transform: translate3d(-42vw, 82vh, 0) rotate(174deg);
  }
}
.light-blue {
  -webkit-animation: light-blue linear 230s alternate infinite;
  animation: light-blue linear 230s alternate infinite;
  border: 2px solid #868079;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  transform: translate3d(30vw, 36vh, 0);
  z-index: 6;
}

.light-blue::before {
  -webkit-animation: light-blue-pseudo linear 215s alternate infinite;
  animation: light-blue-pseudo linear 215s alternate infinite;
  background: #868079;
  border: 2px solid #868079;
  width: 36px;
  height: 31px;
  transform: translate3d(40vw, -23vh, 0) rotate(4deg);
}

.light-blue::after {
  -webkit-animation: light-blue-pseudo linear 220s alternate infinite;
  animation: light-blue-pseudo linear 220s alternate infinite;
  border: 2px solid #868079;
  width: 47px;
  height: 48px;
  transform: translate3d(60vw, -27vh, 0) rotate(197deg);
}

@-webkit-keyframes light-blue {
  50% {
    transform: translate3d(24vw, 25vh, 0);
  }
  100% {
    transform: translate3d(28vw, 45vh, 0);
  }
}

@keyframes light-blue {
  50% {
    transform: translate3d(24vw, 25vh, 0);
  }
  100% {
    transform: translate3d(28vw, 45vh, 0);
  }
}
@-webkit-keyframes light-blue-pseudo {
  33% {
    transform: translate3d(21vw, 22vh, 0) rotate(244deg);
  }
  100% {
    transform: translate3d(23vw, -41vh, 0) rotate(84deg);
  }
}
@keyframes light-blue-pseudo {
  33% {
    transform: translate3d(21vw, 22vh, 0) rotate(244deg);
  }
  100% {
    transform: translate3d(23vw, -41vh, 0) rotate(84deg);
  }
}
.red {
  -webkit-animation: red linear 230s alternate infinite;
  animation: red linear 230s alternate infinite;
  border: 2px solid #868079;
  border-radius: 100%;
  width: 27px;
  height: 27px;
  transform: translate3d(5vw, 37vh, 0);
  z-index: 3;
}

.red::before {
  -webkit-animation: red-pseudo linear 215s alternate infinite;
  animation: red-pseudo linear 215s alternate infinite;
  background: #868079;
  border: 2px solid #868079;
  width: 16px;
  height: 33px;
  transform: translate3d(69vw, 3vh, 0) rotate(324deg);
}

.red::after {
  -webkit-animation: red-pseudo linear 220s alternate infinite;
  animation: red-pseudo linear 220s alternate infinite;
  border: 2px solid #868079;
  width: 8px;
  height: 14px;
  transform: translate3d(55vw, 40vh, 0) rotate(97deg);
}

@-webkit-keyframes red {
  50% {
    transform: translate3d(45vw, 32vh, 0);
  }
  100% {
    transform: translate3d(40vw, 4vh, 0);
  }
}

@keyframes red {
  50% {
    transform: translate3d(45vw, 32vh, 0);
  }
  100% {
    transform: translate3d(40vw, 4vh, 0);
  }
}
@-webkit-keyframes red-pseudo {
  33% {
    transform: translate3d(42vw, 62vh, 0) rotate(112deg);
  }
  100% {
    transform: translate3d(6vw, 90vh, 0) rotate(231deg);
  }
}
@keyframes red-pseudo {
  33% {
    transform: translate3d(42vw, 62vh, 0) rotate(112deg);
  }
  100% {
    transform: translate3d(6vw, 90vh, 0) rotate(231deg);
  }
}
.orange {
  -webkit-animation: orange linear 230s alternate infinite;
  animation: orange linear 230s alternate infinite;
  border: 2px solid #868079;
  border-radius: 100%;
  width: 5px;
  height: 5px;
  transform: translate3d(67vw, 90vh, 0);
  z-index: 3;
}

.orange::before {
  -webkit-animation: orange-pseudo linear 215s alternate infinite;
  animation: orange-pseudo linear 215s alternate infinite;
  background: #868079;
  border: 2px solid #868079;
  width: 31px;
  height: 17px;
  transform: translate3d(4vw, 9vh, 0) rotate(353deg);
}

.orange::after {
  -webkit-animation: orange-pseudo linear 220s alternate infinite;
  animation: orange-pseudo linear 220s alternate infinite;
  border: 2px solid #868079;
  width: 29px;
  height: 9px;
  transform: translate3d(-20vw, -75vh, 0) rotate(2deg);
}

@-webkit-keyframes orange {
  50% {
    transform: translate3d(100vw, 73vh, 0);
  }
  100% {
    transform: translate3d(28vw, 59vh, 0);
  }
}

@keyframes orange {
  50% {
    transform: translate3d(100vw, 73vh, 0);
  }
  100% {
    transform: translate3d(28vw, 59vh, 0);
  }
}
@-webkit-keyframes orange-pseudo {
  33% {
    transform: translate3d(-34vw, 18vh, 0) rotate(165deg);
  }
  100% {
    transform: translate3d(44vw, -42vh, 0) rotate(257deg);
  }
}
@keyframes orange-pseudo {
  33% {
    transform: translate3d(-34vw, 18vh, 0) rotate(165deg);
  }
  100% {
    transform: translate3d(44vw, -42vh, 0) rotate(257deg);
  }
}
.yellow {
  -webkit-animation: yellow linear 230s alternate infinite;
  animation: yellow linear 230s alternate infinite;
  border: 2px solid #868079;
  border-radius: 100%;
  width: 29px;
  height: 29px;
  transform: translate3d(64vw, 28vh, 0);
  z-index: 6;
}

.yellow::before {
  -webkit-animation: yellow-pseudo linear 215s alternate infinite;
  animation: yellow-pseudo linear 215s alternate infinite;
  background: #868079;
  border: 2px solid #868079;
  width: 39px;
  height: 46px;
  transform: translate3d(-2vw, -26vh, 0) rotate(153deg);
}

.yellow::after {
  -webkit-animation: yellow-pseudo linear 220s alternate infinite;
  animation: yellow-pseudo linear 220s alternate infinite;
  border: 2px solid #868079;
  width: 6px;
  height: 15px;
  transform: translate3d(25vw, 51vh, 0) rotate(125deg);
}

@-webkit-keyframes yellow {
  50% {
    transform: translate3d(74vw, 78vh, 0);
  }
  100% {
    transform: translate3d(43vw, 33vh, 0);
  }
}

@keyframes yellow {
  50% {
    transform: translate3d(74vw, 78vh, 0);
  }
  100% {
    transform: translate3d(43vw, 33vh, 0);
  }
}
@-webkit-keyframes yellow-pseudo {
  33% {
    transform: translate3d(6vw, -17vh, 0) rotate(193deg);
  }
  100% {
    transform: translate3d(44vw, 2vh, 0) rotate(66deg);
  }
}
@keyframes yellow-pseudo {
  33% {
    transform: translate3d(6vw, -17vh, 0) rotate(193deg);
  }
  100% {
    transform: translate3d(44vw, 2vh, 0) rotate(66deg);
  }
}
.cyan {
  -webkit-animation: cyan linear 230s alternate infinite;
  animation: cyan linear 230s alternate infinite;
  border: 2px solid #dbd9d7;
  border-radius: 100%;
  width: 37px;
  height: 37px;
  transform: translate3d(18vw, 17vh, 0);
  z-index: 10;
}

.cyan::before {
  -webkit-animation: cyan-pseudo linear 215s alternate infinite;
  animation: cyan-pseudo linear 215s alternate infinite;
  background: #dbd9d7;
  border: 2px solid #dbd9d7;
  width: 15px;
  height: 46px;
  transform: translate3d(20vw, 20vh, 0) rotate(305deg);
}

.cyan::after {
  -webkit-animation: cyan-pseudo linear 220s alternate infinite;
  animation: cyan-pseudo linear 220s alternate infinite;
  border: 2px solid #dbd9d7;
  width: 22px;
  height: 49px;
  transform: translate3d(80vw, 17vh, 0) rotate(152deg);
}

@-webkit-keyframes cyan {
  50% {
    transform: translate3d(84vw, 21vh, 0);
  }
  100% {
    transform: translate3d(60vw, 29vh, 0);
  }
}

@keyframes cyan {
  50% {
    transform: translate3d(84vw, 21vh, 0);
  }
  100% {
    transform: translate3d(60vw, 29vh, 0);
  }
}
@-webkit-keyframes cyan-pseudo {
  33% {
    transform: translate3d(-76vw, 62vh, 0) rotate(245deg);
  }
  100% {
    transform: translate3d(9vw, 37vh, 0) rotate(51deg);
  }
}
@keyframes cyan-pseudo {
  33% {
    transform: translate3d(-76vw, 62vh, 0) rotate(245deg);
  }
  100% {
    transform: translate3d(9vw, 37vh, 0) rotate(51deg);
  }
}
.light-green {
  -webkit-animation: light-green linear 230s alternate infinite;
  animation: light-green linear 230s alternate infinite;
  border: 2px solid #dbd9d7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  transform: translate3d(86vw, 87vh, 0);
  z-index: 12;
}

.light-green::before {
  -webkit-animation: light-green-pseudo linear 215s alternate infinite;
  animation: light-green-pseudo linear 215s alternate infinite;
  background: #dbd9d7;
  border: 2px solid #dbd9d7;
  width: 38px;
  height: 18px;
  transform: translate3d(-84vw, -37vh, 0) rotate(37deg);
}

.light-green::after {
  -webkit-animation: light-green-pseudo linear 220s alternate infinite;
  animation: light-green-pseudo linear 220s alternate infinite;
  border: 2px solid #dbd9d7;
  width: 47px;
  height: 5px;
  transform: translate3d(-36vw, -32vh, 0) rotate(208deg);
}

@-webkit-keyframes light-green {
  50% {
    transform: translate3d(15vw, 30vh, 0);
  }
  100% {
    transform: translate3d(54vw, 72vh, 0);
  }
}

@keyframes light-green {
  50% {
    transform: translate3d(15vw, 30vh, 0);
  }
  100% {
    transform: translate3d(54vw, 72vh, 0);
  }
}
@-webkit-keyframes light-green-pseudo {
  33% {
    transform: translate3d(-6vw, 57vh, 0) rotate(277deg);
  }
  100% {
    transform: translate3d(-36vw, -2vh, 0) rotate(178deg);
  }
}
@keyframes light-green-pseudo {
  33% {
    transform: translate3d(-6vw, 57vh, 0) rotate(277deg);
  }
  100% {
    transform: translate3d(-36vw, -2vh, 0) rotate(178deg);
  }
}
.lime {
  -webkit-animation: lime linear 230s alternate infinite;
  animation: lime linear 230s alternate infinite;
  border: 2px solid #868079;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  transform: translate3d(37vw, 91vh, 0);
  z-index: 1;
}

.lime::before {
  -webkit-animation: lime-pseudo linear 215s alternate infinite;
  animation: lime-pseudo linear 215s alternate infinite;
  background: #868079;
  border: 2px solid #868079;
  width: 20px;
  height: 24px;
  transform: translate3d(43vw, -53vh, 0) rotate(277deg);
}

.lime::after {
  -webkit-animation: lime-pseudo linear 220s alternate infinite;
  animation: lime-pseudo linear 220s alternate infinite;
  border: 2px solid #868079;
  width: 5px;
  height: 37px;
  transform: translate3d(-24vw, -49vh, 0) rotate(176deg);
}

@-webkit-keyframes lime {
  50% {
    transform: translate3d(35vw, 18vh, 0);
  }
  100% {
    transform: translate3d(36vw, 91vh, 0);
  }
}

@keyframes lime {
  50% {
    transform: translate3d(35vw, 18vh, 0);
  }
  100% {
    transform: translate3d(36vw, 91vh, 0);
  }
}
@-webkit-keyframes lime-pseudo {
  33% {
    transform: translate3d(-11vw, 34vh, 0) rotate(12deg);
  }
  100% {
    transform: translate3d(10vw, -7vh, 0) rotate(270deg);
  }
}
@keyframes lime-pseudo {
  33% {
    transform: translate3d(-11vw, 34vh, 0) rotate(12deg);
  }
  100% {
    transform: translate3d(10vw, -7vh, 0) rotate(270deg);
  }
}
.magenta {
  -webkit-animation: magenta linear 230s alternate infinite;
  animation: magenta linear 230s alternate infinite;
  border: 2px solid #868079;
  border-radius: 100%;
  width: 29px;
  height: 29px;
  transform: translate3d(12vw, 66vh, 0);
  z-index: 10;
}

.magenta::before {
  -webkit-animation: magenta-pseudo linear 215s alternate infinite;
  animation: magenta-pseudo linear 215s alternate infinite;
  background: #868079;
  border: 2px solid #868079;
  width: 33px;
  height: 28px;
  transform: translate3d(67vw, -29vh, 0) rotate(224deg);
}

.magenta::after {
  -webkit-animation: magenta-pseudo linear 220s alternate infinite;
  animation: magenta-pseudo linear 220s alternate infinite;
  border: 2px solid #868079;
  width: 8px;
  height: 24px;
  transform: translate3d(25vw, 30vh, 0) rotate(208deg);
}

@-webkit-keyframes magenta {
  50% {
    transform: translate3d(40vw, 10vh, 0);
  }
  100% {
    transform: translate3d(20vw, 49vh, 0);
  }
}

@keyframes magenta {
  50% {
    transform: translate3d(40vw, 10vh, 0);
  }
  100% {
    transform: translate3d(20vw, 49vh, 0);
  }
}
@-webkit-keyframes magenta-pseudo {
  33% {
    transform: translate3d(-35vw, 62vh, 0) rotate(213deg);
  }
  100% {
    transform: translate3d(37vw, -14vh, 0) rotate(320deg);
  }
}
@keyframes magenta-pseudo {
  33% {
    transform: translate3d(-35vw, 62vh, 0) rotate(213deg);
  }
  100% {
    transform: translate3d(37vw, -14vh, 0) rotate(320deg);
  }
}
.lightish-red {
  -webkit-animation: lightish-red linear 230s alternate infinite;
  animation: lightish-red linear 230s alternate infinite;
  border: 2px solid #dbd9d7;
  border-radius: 100%;
  width: 49px;
  height: 49px;
  transform: translate3d(34vw, 84vh, 0);
  z-index: 1;
}

.lightish-red::before {
  -webkit-animation: lightish-red-pseudo linear 215s alternate infinite;
  animation: lightish-red-pseudo linear 215s alternate infinite;
  background: #dbd9d7;
  border: 2px solid #dbd9d7;
  width: 14px;
  height: 42px;
  transform: translate3d(9vw, -49vh, 0) rotate(32deg);
}

.lightish-red::after {
  -webkit-animation: lightish-red-pseudo linear 220s alternate infinite;
  animation: lightish-red-pseudo linear 220s alternate infinite;
  border: 2px solid #dbd9d7;
  width: 16px;
  height: 48px;
  transform: translate3d(-25vw, -55vh, 0) rotate(294deg);
}

@-webkit-keyframes lightish-red {
  50% {
    transform: translate3d(93vw, 24vh, 0);
  }
  100% {
    transform: translate3d(87vw, 84vh, 0);
  }
}

@keyframes lightish-red {
  50% {
    transform: translate3d(93vw, 24vh, 0);
  }
  100% {
    transform: translate3d(87vw, 84vh, 0);
  }
}
@-webkit-keyframes lightish-red-pseudo {
  33% {
    transform: translate3d(-55vw, -23vh, 0) rotate(152deg);
  }
  100% {
    transform: translate3d(-10vw, -4vh, 0) rotate(215deg);
  }
}
@keyframes lightish-red-pseudo {
  33% {
    transform: translate3d(-55vw, -23vh, 0) rotate(152deg);
  }
  100% {
    transform: translate3d(-10vw, -4vh, 0) rotate(215deg);
  }
}
.pink {
  -webkit-animation: pink linear 230s alternate infinite;
  animation: pink linear 230s alternate infinite;
  border: 2px solid #dbd9d7;
  border-radius: 100%;
  width: 47px;
  height: 47px;
  transform: translate3d(23vw, 8vh, 0);
  z-index: 12;
}

.pink::before {
  -webkit-animation: pink-pseudo linear 215s alternate infinite;
  animation: pink-pseudo linear 215s alternate infinite;
  background: #dbd9d7;
  border: 2px solid #dbd9d7;
  width: 32px;
  height: 32px;
  transform: translate3d(41vw, 17vh, 0) rotate(270deg);
}

.pink::after {
  -webkit-animation: pink-pseudo linear 220s alternate infinite;
  animation: pink-pseudo linear 220s alternate infinite;
  border: 2px solid #dbd9d7;
  width: 9px;
  height: 49px;
  transform: translate3d(-7vw, 33vh, 0) rotate(97deg);
}

@-webkit-keyframes pink {
  50% {
    transform: translate3d(12vw, 69vh, 0);
  }
  100% {
    transform: translate3d(100vw, 87vh, 0);
  }
}

@keyframes pink {
  50% {
    transform: translate3d(12vw, 69vh, 0);
  }
  100% {
    transform: translate3d(100vw, 87vh, 0);
  }
}
@-webkit-keyframes pink-pseudo {
  33% {
    transform: translate3d(29vw, -24vh, 0) rotate(92deg);
  }
  100% {
    transform: translate3d(-78vw, -81vh, 0) rotate(243deg);
  }
}
@keyframes pink-pseudo {
  33% {
    transform: translate3d(29vw, -24vh, 0) rotate(92deg);
  }
  100% {
    transform: translate3d(-78vw, -81vh, 0) rotate(243deg);
  }
}
